node_modules

.env

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*storybook.log
storybook-static

.tanstack
.wrangler

node_modules
dist
.env
.env.local

client/node_modules
server/node_modules

client/dist
server/dist